In [3]:
#The data contains 337825 credit card transaction made between 1 January 2019 to 31 December 2020. 
#The is_fraud column has been excluded as it is not relevant for the study
#This data will be imported into a Pandas datafrme to facilitate data preparation

# Import pandas
import pandas as pd

In [4]:
ccData = pd.read_csv(r'C:\Users\Juli\Desktop\DataScienceCourse\Project\DataSet\credit_card_dataWiP.csv')

In [5]:
# Show Inspect data to ensure as expected
ccData.head(n=3)

,transDatetime,shopName,shopType,transAmount,cardHolderCity,cardHolderState,latLocationOfPurchase,longLocationOfPurchase,cityPop,job,dob,transNo,latitudeOfShop,longitudeOfShop
0,01/01/2019 00:00,"Heller, Gutmann and Zieme",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,21/06/1978,1f76529f8574734946361c461b024d99,49.159047,-118.186462
1,01/01/2019 00:00,Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,Nature conservation officer,19/01/1962,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481
2,01/01/2019 00:07,Kiehn Inc,grocery_pos,96.29,Grenada,CA,41.6125,-122.5258,589,Systems analyst,21/12/1945,413636e759663f264aae1819a4d4f231,41.657520,-122.230347

In [6]:
#Show number of rows and columd in dataframe
print(ccData.shape)

(337825, 14)

In [7]:
#Drop transNo column which is not relevant to the study as the default index can be used as a unique transaction identifier
#The 'inplace' command is used to avoid having to re-assign the results of the drop command to a variable

ccData.drop('transNo', inplace=True, axis=1)

ccData.head(n=2)

,transDatetime,shopName,shopType,transAmount,cardHolderCity,cardHolderState,latLocationOfPurchase,longLocationOfPurchase,cityPop,job,dob,latitudeOfShop,longitudeOfShop
0,01/01/2019 00:00,"Heller, Gutmann and Zieme",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,21/06/1978,49.159047,-118.186462
1,01/01/2019 00:00,Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,Nature conservation officer,19/01/1962,43.150704,-112.154481

In [8]:
#Confirm correct column has been dropped
print(ccData.shape)

(337825, 13)