# Analysing Log File

##  This will demonstrate the use of Regex for pattern extraction, merging dataframes and dropping duplicates

### Import text log file

In [4]:
#Import Regex library
import pandas as pd
import re

#Read in the raw text log file
logfile = open(r'C:\Users\Juli\AssessmentUCD\logFileRegex.txt', 'r')
logFileText = logfile.read()
logfile.close()

### Extract data for dataframe using regex to match patterns

In [6]:
log_datetime = re.findall(r"\d{4}\-\d{2}\-\d{2}\s\d{2}\:\d{2}\:\d{2}", logFileText)

In [7]:
process_id = re.findall(r"PID\=\d{5}", logFileText)

In [8]:
task_id = re.findall(r"TID\=\d{5}", logFileText)

### Check the number of items in each list created by regex

In [12]:
d = len(log_datetime)
p = len(process_id)
t = len(task_id)

print("There are " + str(d) + " date items in the list")
print("There are " + str(p) + " process ID items in the list")
print("There are " + str(t) + " task items in the list")

There are 54937 date items in the list
There are 41596 process ID items in the list
There are 40012 task items in the list

### Convert the lists to single column dataframes and check number of items in each

In [13]:
dateDF = pd.DataFrame({'process_date':log_datetime})

In [14]:
processDF = pd.DataFrame({'process_id':process_id})

In [15]:
taskDF = pd.DataFrame({'task_id':task_id})

### Confirm the number of items in each dataframe

In [16]:
dateDFShape=dateDF.shape

In [17]:
processDFShape=processDF.shape

In [18]:
taskDFShape=taskDF.shape

### Capture the length of each dataframe in a variable

In [19]:
dateIndex=dateDFShape[0]

In [20]:
processIndex=processDFShape[0]

In [25]:
taskIndex=taskDFShape[0]

### Create number lists for the dataframes in order to create comment index for merge operation

In [22]:
dateIndexList = list(range(dateIndex))

In [23]:
processIndexList = list(range(processIndex))

In [26]:
taskIndexList = list(range(taskIndex))

### Confirm number of items in the number list items is consistent with the number of rows in the dataframes

In [27]:
print("There are " + str(dateIndex) + " date items in the date index list")
print("There are " + str(processIndex) + " process ID items in the process index list")
print("There are " + str(taskIndex) + " task items in the task index list")

There are 54937 date items in the date index list
There are 41596 process ID items in the process index list
There are 40012 task items in the task index list

### Add the number list to each dataframe

In [28]:
dateDF['row_index'] = dateIndexList

In [29]:
processDF['row_index'] = processIndexList

In [30]:
taskDF['row_index'] = taskIndexList

### Merge the firt two dataframes then merge that to the third dataframe

In [31]:
dateProcessDF=pd.merge(dateDF, processDF, how='outer', on='row_index')

In [32]:
dateProcessTaskDF=pd.merge(dateProcessDF, taskDF, how='outer', on='row_index')

### Ensure that the  number of rows in the merged dataframe should be equal to the number in the largest single dataframe

In [33]:
dateProcessTaskDF

              process_date  row_index process_id    task_id
0      2021-07-06 11:40:34          0  PID=31088  TID=36588
1      2021-07-06 11:40:34          1  PID=31088  TID=36588
2      2021-07-06 11:40:34          2  PID=31088  TID=36588
3      2021-07-06 11:40:34          3  PID=31088  TID=36588
4      2021-07-06 11:40:34          4  PID=31088  TID=36588
...                    ...        ...        ...        ...
54932  2022-09-17 15:06:26      54932        NaN        NaN
54933  2022-09-17 15:06:26      54933        NaN        NaN
54934  2022-09-17 15:06:26      54934        NaN        NaN
54935  2022-09-17 15:06:26      54935        NaN        NaN
54936  2022-09-17 15:06:26      54936        NaN        NaN

[54937 rows x 4 columns]

### Remove rows which have missing values and check the number of rows remaining

In [34]:
dateProcessTaskDFNaN=dateProcessTaskDF.dropna(axis=0, how='any')

In [35]:
dateProcessTaskDFNaN

              process_date  row_index process_id    task_id
0      2021-07-06 11:40:34          0  PID=31088  TID=36588
1      2021-07-06 11:40:34          1  PID=31088  TID=36588
2      2021-07-06 11:40:34          2  PID=31088  TID=36588
3      2021-07-06 11:40:34          3  PID=31088  TID=36588
4      2021-07-06 11:40:34          4  PID=31088  TID=36588
...                    ...        ...        ...        ...
40007  2021-07-07 23:21:18      40007  PID=19064  TID=15036
40008  2021-07-07 23:21:18      40008  PID=19064  TID=15036
40009  2021-07-07 23:21:19      40009  PID=19064  TID=15036
40010  2021-07-07 23:21:19      40010  PID=19064  TID=15036
40011  2021-07-07 23:21:19      40011  PID=19064  TID=15036

[40012 rows x 4 columns]

### Drop duplicates based on process_date, process_id and task_id retaining the first instance of the duplicate, and check the number of rows remaining

In [36]:
dateProcessTaskDFNaNDeDup=dateProcessTaskDFNaN.drop_duplicates(['process_date', 'process_id', 'task_id'], keep="first")

In [37]:
dateProcessTaskDFNaNDeDup

              process_date  row_index process_id    task_id
0      2021-07-06 11:40:34          0  PID=31088  TID=36588
12     2021-07-06 11:40:34         12  PID=31088  TID=28596
25     2021-07-06 11:40:34         25  PID=31088  TID=22436
59     2021-07-06 11:40:34         59  PID=42676  TID=36588
63     2021-07-06 11:40:34         63  PID=42676  TID=22436
...                    ...        ...        ...        ...
39928  2021-07-07 23:21:18      39928  PID=16176  TID=17756
39936  2021-07-07 23:21:18      39936  PID=10136  TID=17756
39998  2021-07-07 23:21:18      39998  PID=19064  TID=17540
40006  2021-07-07 23:21:18      40006  PID=19064  TID=15036
40009  2021-07-07 23:21:19      40009  PID=19064  TID=15036

[2950 rows x 4 columns]

### Use dataframe iterator iterrows to create a new column with two existing columns

In [40]:
for i,row in dateProcessTaskDFNaNDeDup.iterrows():
    dateProcessTaskDFNaNDeDup.loc[i,'processTask_id'] = dateProcessTaskDFNaNDeDup.loc[i,'process_id']+dateProcessTaskDFNaNDeDup.loc[i,'task_id']

C:\Users\Juli\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\Juli\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

### Under normal circumstances, I would have investigated this warning further but given the time constraints, and the fact the that the command worked, I will  review this warning at a later date

In [41]:
dateProcessTaskDFNaNDeDup

,process_date,row_index,process_id,task_id,processTask_id
0,2021-07-06 11:40:34,0,PID=31088,TID=36588,PID=31088TID=36588
12,2021-07-06 11:40:34,12,PID=31088,TID=28596,PID=31088TID=28596
25,2021-07-06 11:40:34,25,PID=31088,TID=22436,PID=31088TID=22436
59,2021-07-06 11:40:34,59,PID=42676,TID=36588,PID=42676TID=36588
63,2021-07-06 11:40:34,63,PID=42676,TID=22436,PID=42676TID=22436
...,...,...,...,...,...
39928,2021-07-07 23:21:18,39928,PID=16176,TID=17756,PID=16176TID=17756
39936,2021-07-07 23:21:18,39936,PID=10136,TID=17756,PID=10136TID=17756
39998,2021-07-07 23:21:18,39998,PID=19064,TID=17540,PID=19064TID=17540
40006,2021-07-07 23:21:18,40006,PID=19064,TID=15036,PID=19064TID=15036
40009,2021-07-07 23:21:19,40009,PID=19064,TID=15036,PID=19064TID=15036

## Demonstrate Python skills with Numpy, dictionaries, lists and functions

### Convert process date column in dataframe to numpy array

In [60]:
import numpy as np
#dateProcessTaskDFNaNDeDup[['process_date', 'processTask_id']].to_numpy()

npDateArray = dateProcessTaskDFNaNDeDup[['process_date']].to_numpy()

In [61]:
npDateArray

array([['2021-07-06 11:40:34'],
       ['2021-07-06 11:40:34'],
       ['2021-07-06 11:40:34'],
       ...,
       ['2021-07-07 23:21:18'],
       ['2021-07-07 23:21:18'],
       ['2021-07-07 23:21:19']], dtype=object)

### Convert process date column to numpy datetime

In [62]:
npDatetimeArray = npDateArray
npDatetimeArray = npDatetimeArray.astype('datetime64',copy=False)

In [63]:
npDatetimeArray

array([['2021-07-06T11:40:34'],
       ['2021-07-06T11:40:34'],
       ['2021-07-06T11:40:34'],
       ...,
       ['2021-07-07T23:21:18'],
       ['2021-07-07T23:21:18'],
       ['2021-07-07T23:21:19']], dtype='datetime64[s]')

### With further processing, this numpy array can be used to conduct processing time analysis which will not be done here due to time constraints

# Machine Learning

## Predict Target Variable

### The data contains 337825 credit card transaction made between 1 January 2019 to 31 December 2020. 
### The is_fraud column has been excluded as it is not relevant for the study
### This data will be imported into a Pandas datafrme to facilitate data preparation

### Read the data from the csv file into a pandas dataframe

In [78]:
#Import pandas
import pandas as pd
import numpy as np

In [74]:
# Import the credit card data
ccData = pd.read_csv(r'C:\Users\Juli\AssessmentUCD\credit_card_data.csv')

In [76]:
# Inspect data to ensure it is as as expected
ccData.head(n=3)

,transDatetime,shopName,shopType,transAmount,cardHolderCity,cardHolderState,latLocationOfPurchase,longLocationOfPurchase,cityPop,job,dob,transNo,latitudeOfShop,longitudeOfShop
0,01/01/2019 00:00,"Heller, Gutmann and Zieme",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,21/06/1978,1f76529f8574734946361c461b024d99,49.159047,-118.186462
1,01/01/2019 00:00,Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,Nature conservation officer,19/01/1962,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481
2,01/01/2019 00:07,Kiehn Inc,grocery_pos,96.29,Grenada,CA,41.6125,-122.5258,589,Systems analyst,21/12/1945,413636e759663f264aae1819a4d4f231,41.657520,-122.230347

In [77]:
#Show number of rows and column in dataframe
print(ccData.shape)

(337825, 14)

## Clean the Data

### Determine the number of missing values from the dataframe

In [84]:
missValNum=ccData.isnull().sum()

In [86]:
print(missValNum)

transDatetime             0
shopName                  0
shopType                  0
transAmount               0
cardHolderCity            0
cardHolderState           0
latLocationOfPurchase     0
longLocationOfPurchase    0
cityPop                   0
job                       0
dob                       0
transNo                   0
latitudeOfShop            0
longitudeOfShop           0
dtype: int64

### Drop duplicates from the dataframe

In [88]:
#Check whether ther are any duplicate rows in the complete dataframe
ccDataDeDup=ccData.drop_duplicates()

In [89]:
#Compare the deduped dataframe with the original
print(ccData.shape)

(337825, 14)

### transNo is a uniqe identifier but it is not user friendly. Also, it may obscure duplicate transactions. The transNo will be dropped to ensure no duplicate transactions exist. A numbered list can be added to the dataframe later if necessary

### The inplace command will be used to to avoid having to re-assign the results of the drop command to a new dataframe variable

In [95]:
#Drop the transNo column

#Compare the deduped dataframe with the original
print(ccData.shape)ccData.drop('transNo', inplace=True, axis=1)

In [96]:
#Compare the the dataframe after transNo has been dropped
print(ccData.shape)

(337825, 13)

In [97]:
#Check whether there are any duplicate rows in the dataframe after transNo dropped
ccDataDeDup=ccData.drop_duplicates()

In [98]:
#Compare the the dataframe after transNo has been dropped
print(ccDataDeDup.shape)

(337825, 13)

### Inspect the dataframe summary statistics

In [93]:
# Inspect dataframe stats
ccDataDesc = ccData.describe()

In [94]:
print(ccDataDesc)

         transAmount  latLocationOfPurchase  longLocationOfPurchase  \
count  337825.000000          337825.000000           337825.000000
mean       68.217523              39.715572             -110.618475
std       156.251647               5.090403               12.645880
min         1.000000              20.027100             -165.672300
25%         9.570000              36.715400             -120.093600
50%        46.250000              39.599400             -111.029200
75%        82.760000              41.710000             -100.621500
max     28948.900000              65.689900              -89.628700

            cityPop  latitudeOfShop  longitudeOfShop
count  3.378250e+05   337825.000000    337825.000000
mean   1.070911e+05       39.715556      -110.618198
std    2.929558e+05        5.126299        12.658430
min    4.600000e+01       19.027422      -166.671575
25%    4.710000e+02       36.815714      -119.817471
50%    1.645000e+03       39.584195      -111.031953
75%    3.543900e+04       42.190149      -100.355379
max    2.383912e+06       66.682905       -88.629203