# Analysing Log File

##  This will demonstrate the use of Regex for pattern extraction, merging dataframes and dropping duplicates

### Import text log file

In [4]:
#Import Regex library
import pandas as pd
import re

#Read in the raw text log file
logfile = open(r'C:\Users\Juli\AssessmentUCD\logFileRegex.txt', 'r')
logFileText = logfile.read()
logfile.close()

### Extract data for dataframe using regex to match patterns

In [6]:
log_datetime = re.findall(r"\d{4}\-\d{2}\-\d{2}\s\d{2}\:\d{2}\:\d{2}", logFileText)

In [7]:
process_id = re.findall(r"PID\=\d{5}", logFileText)

In [8]:
task_id = re.findall(r"TID\=\d{5}", logFileText)

### Check the number of items in each list created by regex

In [12]:
d = len(log_datetime)
p = len(process_id)
t = len(task_id)

print("There are " + str(d) + " date items in the list")
print("There are " + str(p) + " process ID items in the list")
print("There are " + str(t) + " task items in the list")

There are 54937 date items in the list
There are 41596 process ID items in the list
There are 40012 task items in the list

### Convert the lists to single column dataframes and check number of items in each

In [13]:
dateDF = pd.DataFrame({'process_date':log_datetime})

In [14]:
processDF = pd.DataFrame({'process_id':process_id})

In [15]:
taskDF = pd.DataFrame({'task_id':task_id})

### Confirm the number of items in each dataframe

In [16]:
dateDFShape=dateDF.shape

In [17]:
processDFShape=processDF.shape

In [18]:
taskDFShape=taskDF.shape

### Capture the length of each dataframe in a variable

In [19]:
dateIndex=dateDFShape[0]

In [20]:
processIndex=processDFShape[0]

In [25]:
taskIndex=taskDFShape[0]

### Create number lists for the dataframes in order to create comment index for merge operation

In [22]:
dateIndexList = list(range(dateIndex))

In [23]:
processIndexList = list(range(processIndex))

In [26]:
taskIndexList = list(range(taskIndex))

### Confirm number of items in the number list items is consistent with the number of rows in the dataframes

In [27]:
print("There are " + str(dateIndex) + " date items in the date index list")
print("There are " + str(processIndex) + " process ID items in the process index list")
print("There are " + str(taskIndex) + " task items in the task index list")

There are 54937 date items in the date index list
There are 41596 process ID items in the process index list
There are 40012 task items in the task index list

### Add the number list to each dataframe

In [28]:
dateDF['row_index'] = dateIndexList

In [29]:
processDF['row_index'] = processIndexList

In [30]:
taskDF['row_index'] = taskIndexList

### Merge the firt two dataframes then merge that to the third dataframe

In [31]:
dateProcessDF=pd.merge(dateDF, processDF, how='outer', on='row_index')

In [32]:
dateProcessTaskDF=pd.merge(dateProcessDF, taskDF, how='outer', on='row_index')

### Ensure that the  number of rows in the merged dataframe should be equal to the number in the largest single dataframe

In [33]:
dateProcessTaskDF

              process_date  row_index process_id    task_id
0      2021-07-06 11:40:34          0  PID=31088  TID=36588
1      2021-07-06 11:40:34          1  PID=31088  TID=36588
2      2021-07-06 11:40:34          2  PID=31088  TID=36588
3      2021-07-06 11:40:34          3  PID=31088  TID=36588
4      2021-07-06 11:40:34          4  PID=31088  TID=36588
...                    ...        ...        ...        ...
54932  2022-09-17 15:06:26      54932        NaN        NaN
54933  2022-09-17 15:06:26      54933        NaN        NaN
54934  2022-09-17 15:06:26      54934        NaN        NaN
54935  2022-09-17 15:06:26      54935        NaN        NaN
54936  2022-09-17 15:06:26      54936        NaN        NaN

[54937 rows x 4 columns]

### Remove rows which have missing values and check the number of rows remaining

In [34]:
dateProcessTaskDFNaN=dateProcessTaskDF.dropna(axis=0, how='any')

In [35]:
dateProcessTaskDFNaN

              process_date  row_index process_id    task_id
0      2021-07-06 11:40:34          0  PID=31088  TID=36588
1      2021-07-06 11:40:34          1  PID=31088  TID=36588
2      2021-07-06 11:40:34          2  PID=31088  TID=36588
3      2021-07-06 11:40:34          3  PID=31088  TID=36588
4      2021-07-06 11:40:34          4  PID=31088  TID=36588
...                    ...        ...        ...        ...
40007  2021-07-07 23:21:18      40007  PID=19064  TID=15036
40008  2021-07-07 23:21:18      40008  PID=19064  TID=15036
40009  2021-07-07 23:21:19      40009  PID=19064  TID=15036
40010  2021-07-07 23:21:19      40010  PID=19064  TID=15036
40011  2021-07-07 23:21:19      40011  PID=19064  TID=15036

[40012 rows x 4 columns]

### Drop duplicates based on process_date, process_id and task_id retaining the first instance of the duplicate, and check the number of rows remaining

In [36]:
dateProcessTaskDFNaNDeDup=dateProcessTaskDFNaN.drop_duplicates(['process_date', 'process_id', 'task_id'], keep="first")

In [37]:
dateProcessTaskDFNaNDeDup

              process_date  row_index process_id    task_id
0      2021-07-06 11:40:34          0  PID=31088  TID=36588
12     2021-07-06 11:40:34         12  PID=31088  TID=28596
25     2021-07-06 11:40:34         25  PID=31088  TID=22436
59     2021-07-06 11:40:34         59  PID=42676  TID=36588
63     2021-07-06 11:40:34         63  PID=42676  TID=22436
...                    ...        ...        ...        ...
39928  2021-07-07 23:21:18      39928  PID=16176  TID=17756
39936  2021-07-07 23:21:18      39936  PID=10136  TID=17756
39998  2021-07-07 23:21:18      39998  PID=19064  TID=17540
40006  2021-07-07 23:21:18      40006  PID=19064  TID=15036
40009  2021-07-07 23:21:19      40009  PID=19064  TID=15036

[2950 rows x 4 columns]

### Use dataframe iterator iterrows to create a new column with two existing columns

In [40]:
for i,row in dateProcessTaskDFNaNDeDup.iterrows():
    dateProcessTaskDFNaNDeDup.loc[i,'processTask_id'] = dateProcessTaskDFNaNDeDup.loc[i,'process_id']+dateProcessTaskDFNaNDeDup.loc[i,'task_id']

C:\Users\Juli\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\Juli\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

### Under normal circumstances, I would have investigated this warning further but given the time constraints, and the fact the that the command worked, I will  review this warning at a later date

In [41]:
dateProcessTaskDFNaNDeDup

,process_date,row_index,process_id,task_id,processTask_id
0,2021-07-06 11:40:34,0,PID=31088,TID=36588,PID=31088TID=36588
12,2021-07-06 11:40:34,12,PID=31088,TID=28596,PID=31088TID=28596
25,2021-07-06 11:40:34,25,PID=31088,TID=22436,PID=31088TID=22436
59,2021-07-06 11:40:34,59,PID=42676,TID=36588,PID=42676TID=36588
63,2021-07-06 11:40:34,63,PID=42676,TID=22436,PID=42676TID=22436
...,...,...,...,...,...
39928,2021-07-07 23:21:18,39928,PID=16176,TID=17756,PID=16176TID=17756
39936,2021-07-07 23:21:18,39936,PID=10136,TID=17756,PID=10136TID=17756
39998,2021-07-07 23:21:18,39998,PID=19064,TID=17540,PID=19064TID=17540
40006,2021-07-07 23:21:18,40006,PID=19064,TID=15036,PID=19064TID=15036
40009,2021-07-07 23:21:19,40009,PID=19064,TID=15036,PID=19064TID=15036

## Demonstrate Python skills with Numpy, dictionaries, lists and functions

### Convert process date column in dataframe to numpy array

In [60]:
import numpy as np
#dateProcessTaskDFNaNDeDup[['process_date', 'processTask_id']].to_numpy()

npDateArray = dateProcessTaskDFNaNDeDup[['process_date']].to_numpy()

In [61]:
npDateArray

array([['2021-07-06 11:40:34'],
       ['2021-07-06 11:40:34'],
       ['2021-07-06 11:40:34'],
       ...,
       ['2021-07-07 23:21:18'],
       ['2021-07-07 23:21:18'],
       ['2021-07-07 23:21:19']], dtype=object)

### Convert process date column to numpy datetime

In [62]:
npDatetimeArray = npDateArray
npDatetimeArray = npDatetimeArray.astype('datetime64',copy=False)

In [63]:
npDatetimeArray

array([['2021-07-06T11:40:34'],
       ['2021-07-06T11:40:34'],
       ['2021-07-06T11:40:34'],
       ...,
       ['2021-07-07T23:21:18'],
       ['2021-07-07T23:21:18'],
       ['2021-07-07T23:21:19']], dtype='datetime64[s]')

In [65]:
print(npDatetimeArray[0])

['2021-07-06T11:40:34']

In [72]:
for i in npDatetimeArray:
  print(i)